<h2 appTitleSize >Students Temp</h2>

<ul class="px-0">
  <li *ngFor="let student of studentsTemp$ | async" class="card card-edit mb-2 bg-light ">
    <div class="row d-flex justify-content-center align-items-center p-4 ">
      <div class="col-12 px-0">
        <p class="card-text"><strong>Id:</strong> {{ student.id_ }} </p>
        <p class="card-text"><strong>Name:</strong> {{ student | studentName }} </p>
        <p class="card-text"><strong>E-mail:</strong> {{ student.email }} </p>
        <p class="card-text"><strong>Course:</strong> {{ student.course }} </p>
      </div>
      <!--div class="row mt-3">
        <button  class="col-2 btn btn-primary ">Edit</button>
        <button  class="col-2 btn btn-primary offset-1">Remove</button>
      </-div-->
    </div>
  </li>
</ul>

<div class="form card card-edit bg-light p-4">
  <div class="row d-flex justify-content-start align-items-center">
    <div class="col-4">
      <input type="text" [(ngModel)]="id_" placeholder="Id" >
    </div>
    <div class="col-4">
      <input type="text" [(ngModel)]="name" placeholder="Name">
    </div>
    <div class="col-4">
      <input type="text" [(ngModel)]="lastName" placeholder="Last name">
    </div>
  </div>
  <div class="row d-flex justify-content-start align-items-center mt-3">
    <div class="col-4 ">
      <input type="text" [(ngModel)]="email" placeholder="E-mail">
    </div>
    <div class="col-4">
      <input type="text" [(ngModel)]="course" placeholder="Course">
    </div>
    <div class="col-4">
      <button (click)="addStudentTemp()" class="btn btn-primary">Add Student</button>
    </div>
  </div>
</div>
