
<h2 appTitleSize>Students</h2>

<mat-card>
  <table mat-table [dataSource]="dataSource">

    <!-- col id -->
    <ng-container matColumnDef="id_">
      <th mat-header-cell *matHeaderCellDef>Id</th>
      <td mat-cell *matCellDef="let element">{{ element.id_}}</td>
    </ng-container>

    <!-- col name -->
    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef>Name</th>
      <td mat-cell *matCellDef="let element">{{ element | studentName }}</td>
    </ng-container>

    <!-- col email -->
    <ng-container matColumnDef="email">
      <th mat-header-cell *matHeaderCellDef>E-mail</th>
      <td mat-cell *matCellDef="let element">{{ element.email }}</td>
    </ng-container>

    <!-- col course -->
    <ng-container matColumnDef="course">
      <th mat-header-cell *matHeaderCellDef>Course</th>
      <td mat-cell *matCellDef="let element">{{ element.course }}</td>
    </ng-container>

    <!-- col actions -->
    <ng-container matColumnDef="actions" >
      <th mat-header-cell *matHeaderCellDef class="text-center">Actions</th>
      <td mat-cell *matCellDef="let element" class="text-center">
        <button mat-icon-button color="primary" (click)="handleEditStudent()">
          <mat-icon>edit</mat-icon>
        </button>
        <button mat-icon-button color="primary" (click)="handleRemove()">
          <mat-icon>delete</mat-icon>
        </button>
      </td>
    </ng-container>

    <!-- rows -->
    <tr mat-header-row *matHeaderRowDef="tableColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: tableColumns"></tr>

  </table>

</mat-card>
