<app-toolbar></app-toolbar>
  <section class="bg-light-edit d-flex justify-content-center full-fold">
    <div class="container">
      <!--row page 1 login route to define -->
      <div class="row align-items-center justify-content-center">
        <span class="warning">page 1 login // waiting can define the route</span>
        <div class="col-12 col-lg-7 d-flex flex-column align-items-start ">
          <h1 class="">Learn to code</h1>
          <p class=""><strong>Build projects — for free.</strong> <br/>Learn the technical skills to get the job you want.</p>
      </div>
      <div class="col-lg-5 col-xl-4 offset-xl-1">
          <div class="ic-dynamic-form-container px-4">
              <h3 class="ic-form-title">Join us!</h3>
              <app-form-student></app-form-student>
          </div>
      </div>
      </div>
      <!--row page 2 students table route to define -->
      <div class="row align-items-stretch justify-content-center">
        <span class="warning">page 2 students table // waiting can define the route <br/>
        Waiting the class of reactive programming to implement actions to MatTableData</span>
        <div class="col-12 col-md-3 my-5 mx-4 d-flex flex-column align-items-start bg-light navbar-content">
          <app-navbar></app-navbar>
        </div>
        <div class="col-12 col-md-8 offset-1 my-5 mx-auto">
          <app-main-content></app-main-content>
        </div>
      </div>
      <!--row page 3 students-cards-temp for abn students route to define -->
      <div class="row align-items-center justify-content-center">
        <span class="warning">page 3 students list // waiting can define the route <br/>
          Temporary component to implement abm functions</span>
        <div class="col-12 col-md-3 my-5 mx-4 d-flex flex-column align-items-start bg-light navbar-content">
          <app-navbar></app-navbar>
        </div>
        <div class="col-12 col-md-8 offset-1 my-5 mx-auto">
          <app-students-temp></app-students-temp>
        </div>
        <h2 class="warning">page 4 to filter implemation, use the console</h2>
      </div>
    </div>
</section>


<app-footer></app-footer>



